<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Post</title>
</head>

<body>
  <h1><%= post.title %></h1>
  <p><%=post.author %> - <%=post.timeStamp %></p>
  <p><%=post.content %></p>

  <% comments.forEach((com) => { %>
  <div style="border: solid; margin-bottom: 1rem;">
    <p><%= com.content%></p>
    <p>Writer: <%= com.author%></p>
  </div>
  <% }) %>
  <form method="POST" action=<%="/posts/" + id %>>
    <label for="author">Author:</label>
    <input name="author">

    <label for="content">Content:</label>
    <input name="content">
    <button>Submit</button>
  </form>
</body>

</html>